body {

  /*background-image: url("../img/bgimg.png");
  background-size: 100%;
  background-repeat: no-repeat;*/
}
.questions th {
    text-align: center;
}
.questions th:first-of-type {
    width: 300px;
    text-align: left;
}
.questions td {
  text-align: center;
  width: 60px;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
img {
    margin: 0 3px;
    float: left;
    width: 75px;
    height: 75px;
}
