body {

}
.questions th {
    text-align: center;
}
.questions th:first-of-type {
    width: 300px;
    text-align: left;
}
.questions td {
  text-align: center;
  width: 60px;
}
.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.grayscale:hover {
  -webkit-filter: none;
  filter: none;
}
.courses img {
    margin: 3px;
    width: 75px;
    height: 75px;
}
.results {
  height: 150px;
}
